/* General Styles */
body {
  background-color: #f8f9fa;
}

/* Top Navigation */
.top-nav {
  border-bottom: 1px solid white;
}

.nav-link {
  color: white !important;
}

/* New Arrival Section */
.new-arrival .carousel-item img {
  max-height: 150px;
  margin: auto;
}

.new-arrival .carousel-item {
  text-align: center;
}

.new-arrival .carousel-inner .row {
  display: flex;
  justify-content: center;
}

.new-arrival .carousel-inner .col {
  flex: 1;
  max-width: 16.66%; /* Ensures six items per row */
}

.new-arrival h4 {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Product Image */
.product-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 25px;
}

/* Custom Slide */
.custom-slide {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-slide p {
  margin: 10px;
}

/* Slidebar Image */
.slidebar img {
  object-fit: cover;
  height: 700px;
}

/* Footer Styles */
footer a {
  color: #dcdde1;
}

footer a:hover {
  color: #68bb7d;
}

footer ul.footer-link-list li {
  padding-top: 10px;
}

.foot-title {
  padding-bottom: 16px;
  padding-top: 10px;
}

footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}

footer ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

footer .border-light {
  border-color: #2d343f !important;
}

/* Copyright */
#copyright .pt-2 {
  padding-top: 0 !important;
}

#copyright p {
  margin-bottom: 0;
}

.cl {
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .product-img {
    width: 100%;
    height: auto;
  }

  .slidebar img {
    height: auto;
  }
}
