.top-nav {
  border-bottom: 1px solid white;
}

.nav-link {
  color: white !important;
}

.custom-slide {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-slide p {
  margin: 10px;
}

.slidebar img {
  object-fit: cover;
  height: 700px;
}

footer a {
  color: #dcdde1;
}

footer a:hover {
  color: #68bb7d;
}

footer ul.footer-link-list li {
  padding-top: 10px;
}

.foot-title {
  padding-bottom: 16px;
  padding-top: 10px;
}

footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}

footer ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

footer .border-light {
  border-color: #2d343f !important;
}

/* Copyright */
#copyright .pt-2 {
  padding-top: 0 !important;
}

#copyright p {
  margin-bottom: 0;
}

/* Logo text */
.color-web-text {
  background: linear-gradient(to right, #009c40, #16c16e);
  -webkit-text-fill-color: transparent;
}
